@(id: Long, teamForm: Form[models.entity.Team])

@import helper._

@main("Edit Team") {
    @form(routes.Teams.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete" class="btn danger">
    }
    @form(routes.Teams.save(id)) {
        <fieldset> 
            @inputText(teamForm("key"), 
            	'_label -> "Key",
            	'_showConstraints -> false
            )
            @inputText(teamForm("fullName"), 
            	'_label -> "Full Name",
            	'_showConstraints -> false
            )
            @inputText(teamForm("shortName"), 
            	'_label -> "Short Name",
            	'_showConstraints -> false
            )
            @inputText(teamForm("abbr"), 
            	'_label -> "Abbreviation",
            	'_showConstraints -> false
            )
            @helper.select(
				teamForm("conference"), 
 				options(models.entity.Team.Conference.values().toSeq.map(_.toString)), 
 				'_label -> "Conference",
 				'_showConstraints -> false
 			)
            @helper.select(
				teamForm("division"), 
 				options(models.entity.Team.Division.values().toSeq.map(_.toString)), 
 				'_label -> "Division",
 				'_showConstraints -> false
 			)
            @inputText(teamForm("siteName"), 
            	'_label -> "Site"
            )
            @inputText(teamForm("city"), 
            	'_label -> "City"
            )
            @inputText(teamForm("state"), 
            	'_label -> "State"
            )
            @helper.select(teamForm("active"), 
            	options(Seq("true","false")),
            	'_label -> "Active",
            	'_showConstraints -> false
            )
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Update" class="btn primary"> 
            <a class="btn" href="@routes.Teams.list()">Cancel</a> 
        </div>   
    }
}