@(currentPage: com.avaje.ebean.Page[models.entity.Official], currentSortBy: String, currentOrder: String, currentFilter: String)

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Aggregator</title>
</head>
  
<body data-spy="scroll" data-target=".bs-docs-sidebar">

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{    
    var sortBy = currentSortBy
    var order = currentOrder
	    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
	    
	// Generate the link
	routes.Officials.list(newPage, sortBy, order, currentFilter)    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
	<th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main("Official Maintenance") {   
    <h1 id="homeTitle">@Messages("officials.list.title", currentPage.getTotalRowCount)</h1>
    
    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 

    <div id="actions">        
        <form action="@link(0, "lastName")" method="GET">        
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Official Last Name">
            <input type="submit" id="searchsubmit" value="Filter" class="btn info">
            <a class="btn success" id="addOfficial" href="@routes.Officials.edit(-1)">Create</a>
            <a href="@routes.Games.list()" class="btn">Cancel</a> 
        </form>
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {       
        <div class="well">
            <em>Nothing to display</em>
        </div>
    } else {        
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="officialgrid">
            <thead>
                <tr>
                	<th class="span2">Number</th>
                	<th class="span4">Last Name</th>
                	<th class="span4">First Name</th>
					<th class="span4">First Game</th>
                </tr>
            </thead>
                       
            <tbody>
                @for(official <- currentPage.getList) {
                    <tr>
                        <td>
                        	<a href="@routes.Officials.edit(official.getId())">@official.getNumber()</a>
                        </td>
                        <td>
                            @if(official.getLastName() == null) {
                                <em>-</em>
                            } else {
                                @official.getLastName()
                            }
                        </td>
                        <td>
                            @if(official.getFirstName() == null) {
                                <em>-</em>
                            } else {
                                @official.getFirstName()
                            }
                        </td>
                        <td>
                            @if(official.getFirstGame() == null) {
                                <em>-</em>
                            } else {
                                @official.getFirstGame()
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div id="pagination" class="pagination pagination-centered">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
    }    	
  </body>
</html>
}