@(currentPage: com.avaje.ebean.Page[models.entity.Game])

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Aggregator</title>
</head>
  
<body data-spy="scroll" data-target=".bs-docs-sidebar">

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int) = @{    
	routes.Games.list(newPage)    
}

@main("Game Day") {   
	<h1 id="gameDate">Game Date</h1>
    <h1 id="homeTitle">@Messages("games.list.title", currentPage.getTotalRowCount)</h1>
    
    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 
    
    @if(currentPage.getTotalRowCount == 0) {       
        <div class="well">
            <em>Nothing to display</em>
        </div>
    } else {        
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="gamegrid">
            <thead>
                <tr>
                	<th class="span8">Date</th>
                	<th class="span5">Status</th>
                </tr>
            </thead>
                       
            <tbody>
                @for(game <- currentPage.getList) {
                    <tr>
                        <td>
                        	@if(game.getTimeDisplay() == null) {
                                <em>-</em>
                            } else {
                                @game.getTimeDisplay()
                            }
                        </td>
                        <td>
                            @if(game.getStatus() == null) {
                                <em>-</em>
                            } else {
                                @game.getStatus()
                            }
                        </td>
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="boxscoregrid">
				            <thead>
				                <tr>
				                	<th class="span5">Team</th>
				                	<th class="span5">Location</th>
				                	<th class="span5">Points</th>
				                </tr>
				            </thead>
				            
							<tbody>
				                @for(boxScore <- game.getBoxScores()) {
				                    <tr>
				                    	<td>
				                        	@if(boxScore.getTeam().getAbbr() == null) {
				                                <em>-</em>
				                            } else {
				                                @boxScore.getTeam().getAbbr()
				                            }
				                        </td>
				                        <td>
				                        	@if(boxScore.getLocation() == null) {
				                                <em>-</em>
				                            } else {
				                                @boxScore.getLocation()
				                            }
				                        </td>
				                        <td>
				                            @if(boxScore.getPoints() == null) {
				                                <em>-</em>
				                            } else {
				                                @boxScore.getPoints()
				                            }
				                        </td>
				                    </tr>
				                }
				            </tbody>
                        </table>
                    </tr>
                }
            </tbody>
        </table>

    }
    <script src="@routes.Assets.at("javascripts/aggregator.js")"></script>
	<script>
		document.getElementById("gameDate").innerHTML=todayDate();
	</script>	
</body>
</html>
}