@(teamForm: Form[Team])

@import helper._

@main("TeamSchedule") {
    <h1>Create Team</h1>

    @form(routes.Application.saveTeam()) {
        <fieldset> 
            @inputText(teamForm("key"), '_label -> "Key")
            @inputText(teamForm("fullName"), '_label -> "Name")
            @inputText(teamForm("abbr"), '_label -> "Abbreviation")
            @helper.select(
				teamForm("conference"), 
 				options(models.Team.Conference.values().toSeq.map(_.toString)), 
 				'_label -> "Conference"
 			)
            @helper.select(
				teamForm("division"), 
 				options(models.Team.Division.values().toSeq.map(_.toString)), 
 				'_label -> "Division"
 			)
            @inputText(teamForm("siteName"), '_label -> "Site")
            @inputText(teamForm("city"), '_label -> "City")
            @inputText(teamForm("state"), '_label -> "State")
            @inputText(teamForm("active"), '_label -> "Active")
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create" class="btn primary"> 
            <a href="@routes.Application.listTeams()" class="btn">Cancel</a> 
        </div>
    }
}