@(id: Long, teamForm: Form[Team])

@import helper._

@main("TeamSchedule") {
    <h1>Edit Team</h1>

    @form(routes.Application.editTeam(id)) {
        <fieldset>
        	@inputText(teamForm("id"), '_label -> "Temp Id")
             
            @inputText(teamForm("fullName"), '_label -> "Team name")
            @inputText(teamForm("abbr"), '_label -> "Abbreviation")
            @inputText(teamForm("division"), '_label -> "Division")
            @inputText(teamForm("conference"), '_label -> "Conference")
        </fieldset>
        
        <div class="actions">
            <a href="@routes.Application.updateTeam()" class="btn">Update</a> 
            <a href="@routes.Application.listTeams()" class="btn">Cancel</a> 
        </div>
        <div class="actions">
        	<input type="submit" value="Add this account" class="btn primary">
        </div>
    }

}