@(id: Long, teamForm: Form[Team])

@import helper._

@main("TeamSchedule") {
    <h1>Edit Team</h1>

    @form(routes.Application.editTeam(id)) {
        <fieldset>        
            @inputText(teamForm("fullName"), '_label -> "Team name")
            @inputText(teamForm("abbr"), '_label -> "Abbreviation")
            @inputText(teamForm("division"), '_label -> "Division")
            @inputText(teamForm("conference"), '_label -> "Conference")
        </fieldset>
        
        <fieldset>
            @select(
                teamForm("boxScore.id"), 
                options(BoxScore.options), 
                '_label -> "Box Score", '_default -> "-- Choose a box score --",
                '_showConstraints -> false
            )
        </fieldset>
        
        <div class="actions">
            <a href="@routes.Application.listTeams()" class="btn">Update</a> 
            <a href="@routes.Application.listTeams()" class="btn">Cancel</a> 
        </div>
        <div class="actions">
        	<input type="submit" value="Add this account" class="btn primary">
        </div>
    }

}